@model MovieRentalOnline.Logic.Cart
@{
    Layout = null;
}



<div class="panel panel-primary" id="cartMenu">
    <div class="panel-heading">
        <h3 class="panel-title">Zawartość koszyka:</h3>
    </div>
    <div class="panel-body" style="padding:0px;">
        <div class="well well-sm" style="margin-bottom:auto;">

            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-6"></th>
                            <th class="col-md-4"></th>
                            <th class="col-md-1"></th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CartItems != null)
                        {
                            foreach (var cartItem in Model.CartItems)
                            {
                                <tr>
                                    <td><small @{if (cartItem.IsAvailable == false) { <text> style="color:red" </text>  } }>@cartItem.Product.Movie.Title</small></td>
                                    <td><small>@cartItem.Product.StorageMedium.Name</small></td>
                                    <td><small>@cartItem.Cost zł</small></td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-xs" onclick="location.href='@Url.Action("RemoveFromCart", "Cart", new { productId = cartItem.Product.ProductId })'" })>Usuń</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" value="@Model.DeliveryTime.ToString("dd'.'MM'.'yyyy HH':'mm")" style="padding:0px;" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" value="@Model.ReturnTime.ToString("dd'.'MM'.'yyyy HH':'mm")" style="padding:0px;" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <p>Łączny koszt: @Model.TotalCost zł</p>
                <button type="button" class="btn btn-primary" onclick='changeTime()'>Ustaw datę</button>
                <button style="margin-left: 30px" type="button" class="btn btn-primary" onclick='order()'>Zamów</button>
            </div>

        </div>
    </div>
</div>