<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/half-slider.css" rel="stylesheet">
    <link href="/Content/css/my.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <nav id="navbar1" class="navbar navbar-default navbar-static-top" role="navigation" style="margin: 0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Wypożyczalnia abc.pl", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Przeglądaj ofertę filmów", "List", "Rental")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Koszyk", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
        </nav>
    <br />
    <br />
        <div class="container body-content">
            @RenderBody()

            <hr/>
            <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text pull-left">&copy; @DateTime.Now.Year - <a target="_blank">MovieRental Online</a></p>
                <p class="navbar-text pull-right"><a id="scroll-to-top" style="display:none;" href="#" title="Przewiń na początek strony"><span class="glyphicon glyphicon-arrow-up"></span> </a></p>
            </div>
            </div>
            @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/site")
            @RenderSection("scripts", required: false)
        </div>
</body>
</html>
