@model MovieRentalOnline.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password: </dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </dd>

        <dt>Email: </dt>
        <dd>
            @Model.Email [
            @Html.ActionLink("Change your email", "ChangeEmail")
            ]
        </dd>
    </dl>
    
    <hr />
    <h4>Your Primary address:</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>Street: </dt>
        <dd>
            street
        </dd>
        
        <dt>Home number: </dt>
        <dd>
            number
        </dd>

        <dt>Postal code: </dt>
        <dd>
            code
        </dd>

        <dt>Postal city: </dt>
        <dd>
            city
        </dd>

        <dt>City: </dt>
        <dd>
            city
        </dd>
        
        <dt>Country: </dt>
        <dd>
            country
        </dd>
    </dl>
    
    <hr />
    <h4>Your Secondary address:</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>Street: </dt>
        <dd>
            street
        </dd>

        <dt>Home number: </dt>
        <dd>
            number
        </dd>

        <dt>Postal code: </dt>
        <dd>
            code
        </dd>

        <dt>Postal city: </dt>
        <dd>
            city
        </dd>

        <dt>City: </dt>
        <dd>
            city
        </dd>

        <dt>Country: </dt>
        <dd>
            country
        </dd>
    </dl>
</div>
