@model IEnumerable<MovieRentalOnline.Models.Rent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalProduct.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalProduct.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentId })
        </td>
    </tr>
}

</table>
